<div id="cp4">Change background color: </div>
<script>
    $(function () {
        $('#cp4').colorpicker().on('changeColor', function (e) {
            $('body')[0].style.backgroundColor = e.color.toHex();
        });
    });
</script>
