<div id="cp4"></div>
<script>
    $(function () {
        $('#cp4').colorpicker().on('colorpicker_change', function (e) {
            $('body')[0].style.backgroundColor = e.color.toHex();
        });
    });
</script>
