<div id="cp7"></div>
<style>
    .inl-bl {
        display: inline-block;
    }
</style>
<script>
    $(function () {
        $('#cp7').colorpicker({
            color:'rgba(255,123,123, .33)',
            className:'inl-bl'
        });
    });
</script>
