<div id="cp8"></div>
<script>
    $(function () {
        $('#cp8').colorpicker({
            aliases: {
                'default': '#777777',
                'primary': '#337ab7',
                'success': '#5cb85c',
                'info': '#5bc0de',
                'warning': '#f0ad4e',
                'danger': '#d9534f'
            },
            palettes: [['#000', '#fff', 'xswdxexfxauzlt', 'primary', 'success', 'info', 'warning', 'danger', 'rgba(120,50,120,.5)']]
        });
    });
</script>
