<div id="cp8"></div>
<script>
    $(function () {
        $('#cp8').colorpicker({
            palette: {
                'default': '#777777',
                'primary': '#337ab7',
                'success': '#5cb85c',
                'info': '#5bc0de',
                'warning': '#f0ad4e',
                'danger': '#d9534f'
            }
        });
    });
</script>
