<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <?js if (title == 'Home') { ?>
  <title>Bootstrap Colorpicker, a color picker component for jQuery, compatible with Twitter Bootstrap.</title>
  <?js } else { ?>
  <title>Bootstrap Colorpicker | <?js= title ?> - Documentation</title>
  <?js } ?>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85082661-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); gtag('config', 'UA-85082661-5');
  </script>

  <link type="image/png" rel="shortcut icon" href="https://farbelous.io/bootstrap-colorpicker/logo.png"/>

  <?js if(
      env.conf.templates && env.conf.templates.default && env.conf.templates.default.searchBox &&
      env.conf.templates.default.searchBox.enabled !== false
     ) { var searchBoxConfig = env.conf.templates.default.searchBox; ?>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"/>
  <?js } ?>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

  <link href="dist/css/bootstrap-colorpicker.css?v=<?js= Date.now() ?>" rel="stylesheet" />

  <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
  <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
  <link type="text/css" rel="stylesheet" href="styles/jsdoc-custom.css">

  <style>
    html {font-size: 14px;}
  </style>

  <!-- This needs to be loaded before the examples scripts: -->
  <script src="//code.jquery.com/jquery-3.3.1.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  <script src="dist/js/bootstrap-colorpicker.js?v=<?js= Date.now() ?>"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row is-flex">
    <nav class="main-nav col-md-3 col-xl-2">
      <?js= this.nav ?>
    </nav>

    <div class="main-content col-md-9 col-xl-10">
      <div id="main" class="main-content-wrapper">
        <?js if (title != 'Home') { ?>
        <h1 class="page-title"><?js= title ?></h1>
        <?js } ?>

        <?js= content ?>
      </div>
    </div>
  </div>
  <div class="row">
    <footer class="col-md-12 main-footer">
      Generated by <a
      href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
      <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?>
      on <?js= (new Date()) ?><?js } ?> using a custom Minami theme. Search powered by Algolia.
    </footer>
  </div>
</div>

<script src="dist/js/bootstrap-colorpicker.js?v=<?js= Date.now() ?>"></script>

<?js if(searchBoxConfig) { ?>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: '<?js= searchBoxConfig.algoliaApiKey ?>',
  indexName: '<?js= searchBoxConfig.algoliaIndexName ?>',
  inputSelector: '.search-box input',
  algoliaOptions: {
    hitsPerPage: 10
  },
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
<?js } ?>

<script src="scripts/prettify/prettify.js"></script>
<script src="scripts/prettify/lang-css.js"></script>
<script src="scripts/jsdoc.js?v=<?js= Date.now() ?>"></script>
</body>
</html>
