{{#extend "tutorial-sandbox"}}
  {{#content "body"}}
    {{#extend "tutorial"}}
      {{#content "description"}}{{/content}}

      {{#content "code"}}
        <a href="#" class="btn btn-default btn-lg" id="cp4">Change background color</a>
        <script>
          $(function () {
            $('#cp4').colorpicker().on('changeColor', function (e) {
              $('body')[0].style.backgroundColor = e.color.toString('rgba');
            });
          });
        </script>
      {{/content}}
    {{/extend}}
  {{/content}}
{{/extend}}
