{{#extend "tutorial-group"}}
  {{#content "body"}}
    Bootstrap Colorpicker v2.x documentation and demos can be found <a href="./v2">here</a>.
    <script>
      window.location.href = './v2/';
    </script>
  {{/content}}
{{/extend}}
