<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <?js if (title == 'Home') { ?>
  <title>Bootstrap Colorpicker, a color picker component for Twitter Bootstrap.</title>
  <?js } else { ?>
  <title>Bootstrap Colorpicker | <?js= title ?> - Documentation</title>
  <?js } ?>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <link href="dist/css/bootstrap-colorpicker.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
  <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">

  <style>
    /* TODO: Move into an external CSS file */

    h4.name {
      color: #c7254e;
    }

    .section-members {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #eee;
    }

    .details + h5 {
      display: inline-block;
      font-size: 1em;
    }

    .details + h5 + ul {
      display: inline-block;
      list-style: none;
      font-size: 1em;
      padding: 0 0 0 10px;
    }

    .nav-item-name {
      font-size: 13px;
    }


    h1.page-title {
      border: none;
    }

    .panel-heading h2 {
      font-weight: bold;
      font-size: 1.1em;
      margin: 5px 0;
    }

    .tutorial .panel-body {
      padding: 20px 30px 35px 30px;
    }

    .tutorial-group-description, .tutorial-description {
      margin-bottom: 20px;
    }

    .panel-footer pre.tutorial-code {
      border: none;
      padding: 0;
      box-shadow: none;
      margin: 0;
      background: none;
    }

    .panel-footer--legend {
      font-size: 80%;
      text-transform: uppercase;
      font-weight: bold;
      color: #bbb;
      margin-bottom: 5px;
    }

    input.form-control + input.form-control,
    .colorpicker-component + .colorpicker-component,
    input.form-control + .colorpicker-component,
    .colorpicker-component + input.form-control {
      margin-top: 20px;
    }
  </style>

  <script src="//code.jquery.com/jquery-3.2.1.js"></script>
  <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>-->
  <script src="dist/js/bootstrap-colorpicker.js"></script>

  <script src="scripts/prettify/prettify.js"></script>
  <script src="scripts/prettify/lang-css.js"></script>
</head>
<body>

<input type="checkbox" id="nav-trigger" class="nav-trigger"/>
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<nav>
  <?js= this.nav ?>
</nav>

<div id="main">
  <?js if (title != 'Home') { ?>
  <h1 class="page-title"><?js= title ?></h1>
  <?js } ?>

  <?js= content ?>
</div>

<br class="clear">

<footer>
  Generated by <a
  href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
  <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?>
  on <?js= (new Date()) ?><?js } ?> using the Minami theme.
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
</body>
</html>
