{{#extend "example-group"}}
  {{#content "description"}}
    <p>
      Note that for using any of these features you will also require the Bootstrap JS loaded in your
      project, following the Bootstrap requirements of each component, for example, the <a
        href="https://getbootstrap.com/docs/4.0/components/popovers/" target="_blank">Popover component</a>
      needs Popper.js or bootstrap.bundle.js to be loaded.
    </p>
  {{/content}}
  {{#content "body"}}

    {{#extend "example"}}
      {{#content "title"}} Custom popover options{{/content}}
      {{#content "description"}}
        <p>
          You can use any Bootstrap Popover options (except: trigger, content and html) using the "popover"
          property in the colorpicker options.
        </p>
      {{/content}}
      {{#content "code"}}
        <div id="cp1" class="input-group">
          <input type="text" class="form-control input-lg" value="hsl(103, 70%, 64%)"/>
          <span class="input-group-append">
            <span class="input-group-text colorpicker-input-addon"><i></i></span>
          </span>
        </div>
        <script>
          $(function () {
            $('#cp1').colorpicker({
              popover: {
                title: 'Adjust the color',
                placement: 'top'
              }
            });
          });
        </script>
      {{/content}}
    {{/extend}}

    {{#extend "example"}}
      {{#content "title"}} Inside a modal {{/content}}
      {{#content "description"}}{{/content}}
      {{#content "code"}}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input id="cp2" type="text" class="form-control input-lg" value="rgb(130, 44, 29)"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          $(function () {
            $('#cp2').colorpicker();
          });
        </script>
      {{/content}}
    {{/extend}}


  {{/content}}
{{/extend}}
