{{#extend "example-group"}}
  {{#content "body"}}
    <p>
      Bootstrap Colorpicker documentation and demos for previous versions can be found here:
    </p>
    <ul>
      <li><a href="./v2/">v2.5.2</a></li>
    </ul>
  {{/content}}
{{/extend}}
