{{#extend "example-group"}}
  {{#content "body"}}
    <p>
      Previous versions of the Bootstrap Colorpicker documentation and demos can be found here:
    </p>
    <ul>
      <li><a href="./v2/">v2.x</a></li>
    </ul>
  {{/content}}
{{/extend}}
