{{#extend "example-group"}}
  {{#content "description"}}
    <p>
      If you like this project and find it useful, please consider making a donation to support the developers <br>
      and keep the development of this project fluent and active. Thank you all!
    </p>
  {{/content}}
  {{#content "body"}}
    <a href="https://github.com/itsjavi/itsjavi.github.io/blob/master/BACKERS.md#sponsors--backers" target="_blank">
      <img
          src="https://img.shields.io/badge/%E2%9D%A4-Donate%20to%20this%20project-e0a61d.svg?longCache=true&style=for-the-badge"
          alt="Donate"/>
    </a>
  {{/content}}
{{/extend}}
