{{#extend "example-group"}}
    {{#content "body"}}
        <a href="https://github.com/farbelous/bootstrap-colorpicker/blob/master/BACKERS.md#sponsors--backers" target="_blank">
            <img src="https://img.shields.io/badge/%E2%9D%A4-Donate%20to%20this%20project-e0a61d.svg?longCache=true&style=for-the-badge"
                 alt="Donate"/>
        </a>
    {{/content}}
{{/extend}}
