<div class="row">
  <article class="col-md-12">
    <hr>
    <div class="social">
      <!-- GITHUB -->
      <a href="https://github.com/itsjavi/bootstrap-colorpicker/" target="_blank"
         class="btn btn-default btn-sm"><span class="octicon octicon-mark-github"></span> Source code</a>

      <!-- DOWNLOAD -->
      <a href="https://github.com/itsjavi/bootstrap-colorpicker/archive/master.zip" target="_blank"
         class="btn btn-success btn-sm"><i class="glyphicon glyphicon-download-alt"></i> Download latest</a>

      <!-- TWITTER -->
      <div class="share-btn share-btn-twitter">
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-size="large"
           data-related="itsjaviaguilar"
           data-hashtags="bootstrap">Tweet</a>
        <script>!function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'twitter-wjs');</script>
      </div>

      <!-- GOOGLE PLUS -->
      <div class="share-btn share-btn-google-plus">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <g:plusone></g:plusone>
      </div>
    </div>
    <hr>
  </article>
</div>
