<div class="tutorial-group">
  {{#if (content "description")}}
    <div class="tutorial-group-description">
      {{#block "description"}}{{/block}}
    </div>
  {{/if}}

  <div class="tutorial-group-body">
    {{#block "body"}}{{/block}}
  </div>
</div>
