<div class="tutorial">
  <div class="panel panel-default">
    {{#if (content "title")}}
      <div class="panel-heading tutorial-title">{{#block "title"}}{{/block}}</div>
    {{/if}}
    <div class="panel-body">
      {{#if (content "description")}}
        <div class="tutorial-description">
          {{#block "description"}}{{/block}}
        </div>
      {{/if}}
      <div class="tutorial-demo">
        {{#block "code"}}{{/block}}
      </div>
    </div>
    <div class="panel-footer">
      <div class="panel-footer--legend">Code</div>
      <pre class="tutorial-code prettyprint lang-html">
        {{~#code}}{{~#block "code"}}{{~/block}}{{~/code}}</pre>
    </div>
  </div>
</div>
