<div class="tutorial">
  <div class="tutorial-title">{{#block "title"}}{{/block}}</div>
  <div class="tutorial-description">
    {{#block "description"}}{{/block}}
  </div>
  <div class="tutorial-container">
    <div class="tutorial-container--body">
      {{#block "code"}}{{/block}}
    </div>
    <button type="button" class="btn btn-link btn-sm tutorial-container--code-toggle">View code</button>
    <pre class="tutorial-container--code prettyprint lang-html">
      {{~#code}}{{~#block "code"}}{{~/block}}{{~/code}}
    </pre>
  </div>
</div>
